

*   colab에 좋은 점 : 시각화가 잘되어 있고,
설치가 필요없고, 학습을 빠르게 할수 있다.
*   .py에 좋은 점: 실무에서는 colab으로 개발하는 것이 아닙니다.

# colad

- googie id만 있으면 ram 12G , diak나 되는 원격 컴퓨터를 무료로 준다!
-여기에는 python 환경이 모두 설정이 되어 있어서 별도의 설정이 필요없다 !
-google drive가 자동 연동되어서 별도로 다운로느해서 저장할필요가 없다.
-ctrl + Enter : 현재 실행 재실행

# 마크업과 마크다운

In [ ]:
- HTML은 웹 브라우저나 고급 문서를 표현
<h1>hello world</h1>
<h2>hello world</h2>
<p>hello world</p>

- Markdown은 서식이 필요치 않은 문서를 표현
# hello world
## hello world

In [ ]:
# hello world
## hello world
### hello world

- hello world
- hello world
- hello world

1. hello world
2. hello world
3. hello world

# range

In [ ]:
range
I = [10, 20, 30, 40]

In [ ]:
range(0, 10)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # 왜 그렇게 출력이 안되는것인가..

In [ ]:
range(0, 10)

# range()는 pytho 2. x에서는 list였습니다.
type(range(0, 10))

In [ ]:
# @title 기본 제목 텍스트
# 파이썬은 속도를 올리기 위한 작업을 매 버젼마다  해왔다
# 최종목표는 c의 속도를 따라 잡는것
# range(100000000000000000000) 이렇게 데이터를 생각한다고 생각해보자
# 0 ~ 10000000000000000000의 숫자를 모드 메모리에 올려야 한다
# xrange() 라는것을 만들어서 이를 해결하다
# xrange는 숫자를 생성하지 않고, start, stop, step 값으로 호출을 할때 하나씩
# 생성을 하는 방식을 새롭게 도입했다
# xrange가 3.x 로 오면서 range가 된것

# range()의 인덱싱
range(100)[3]

range(100, 1000, 100)[3]

In [ ]:
# renge()의 슬라이싱
range(100)[1:10]

range(1, 10)

# print 라는 것은 무엇일까?

In [ ]:
def hello():
    x = 10
    y = 20
    return x + y

# 변수

a = 10

b = a

c = b

c

```
b = 100
c
```

#type, dir, id

- type은 앞으로도 자주 사용됩니다. 왜냐하면 우리가 앞으로 사용할 데이터 자료형은 기본 자료형이 아닌 경우가 많기 때문이에요.

In [ ]:
i = [10, 20, 30, 40]
print(type(i)) # print와 print를 안하는 것은 왜 차이가 있는가?

<class 'list'>

In [ ]:
print(type(hello))

<class 'function'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
print(a) # a 정수형을 보장할수 없다.

10

In [ ]:
# 타입 확인이 이만큼 중요하다는 것을 보여드리기 위한 예제 2개
# 예 1) 보여지는게 10이라고 해서 int 형이라고 생각하지 말자
import numpy as np
data = np.array(10)
print(data)
print(type(data))

10
<class 'numpy.ndarray'>

In [ ]:
# 예 2) 타입을 확인해야 하는 이유는 아래와 같아요. 기본 연산이 다르기 때문이죠.
print([1, 2, 3] + [4, 5, 6])
print(np.array([1, 2, 3]) + np.array([4, 5, 6]))

[1, 2, 3, 4, 5, 6]
[5 7 9]

In [ ]:
l = [1, 2, 3, 4]
dir(l) # 메서드 + 멤버

# 이게 왜 중요할까? 코딩하다가 메서드 까먹을까봐 중요하다고 하신걸까?

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 이 빌트인 펑션이 왜 중요하냐면, 앞으로 여러분들이 만날 자료형들은
# 새롭게 만나는 자료형들입니다.
# 예를 들어, 아래 타입을 한 번 살펴보도록 하겠습니다.

import numpy as np

data = np.array([[10, 20, 30], [40, 50, 60]])
dir(data)
# 아래 목록만 봐도 어떤 자료형인지 짐작할 수 있고
# 원하는 메서드를 바로 발견할 수도 있습니다.

print(data.T)

[[10 40]
 [20 50]
 [30 60]]

# id

In [ ]:
# id

a = 10
b = a
c = b
# 화살표는 어떻게 그렸나?
id(a), id(b), id(c)

# id는 해당 변수가 가리키고 있는 최종 목적지

(10751144, 10751144, 10751144)

In [ ]:
a = 10
b = 10

id(a), id(b) # 다른 언어에서는 이 값이 다르다. 그러면 파이썬에서는 같은가? 아니요

(10751144, 10751144)

In [ ]:
a = 10000
b = 10000

id(a), id(b)

(139447046720752, 139447046720688)

#print와 print를 안하는 것에 차이

In [ ]:
# 아직 class를 안배웠지만, 이 차이를 설명하기 위해 잠시 이 코드를 사용하겠습니다.

class CustomInt:
    def __repr__(self):
        return 'hello'

    def __str__(self):
        return 'hello world'

In [ ]:
a = CustomInt()
a

hello

In [ ]:
print(a)

hello world

In [ ]:
a = 10
print(type(a))
print(a)

<class 'int'>
10

In [ ]:
# print  -> 해당 인스턴스에 __str__함수호출
# 그냥출력 -> 해당 인스턴스에 __repr__함수호출

In [ ]:
a = 10
dir(a)

# python built-in functions

* 링크: https://docs.python.org/3/library/functions.html

In [ ]:
# 자주 사용하는 functions
abs([True, True, False]) # 안에 있는 값이 다 True 여야 True!
all
any
bin
# enumerate
list(enumerate('hello'))
list(enumerate('hello', 100))

for i in enumerate('hello'):
    print(i)

for index, value in enumerate('hello'):
    print(i)

for i, v in enumerate('hello'):
    print(i)

for i in range(len('hello')): # 이렇게 쓰실거면
    print(i)

for i, _ in enumerate('hello'): # 이렇게 쓰시는 것을 권합니다.
    print(i)
# isinstance #claee 파트에서 다룰내용
# issubciaes

iter
next

locals
globals

max
min
sum

In [ ]:
# 자료형을 만드는 built-in functions
# int
# float
# str
# complex
# list
# tuple
# dict
# set

In [ ]:
abs(-10) # 절대값, 실행하면 나오는 값 (-10 아규먼트)
all([True, True, False]) # 안에 있는 값이 다 True여야 True!
any([True, True, False]) # 하나라도 True라면 True!
bin(10) # 2진수로 바꿔줍니다. 알고리즘 문제에서 아주 간혹 출제 됩니다.

In [ ]:
# enumerate
# len
len([10, 20, 30])

# format
format(10, 'b')
format(10000000, '.') # 이코드 정말 많이 쓰여요!

# input
input('입력하세요!') # 주의할점 : 숫자를 입력해도 문자로 입력받는다

# range(start, stop, step)
# range는 리스트가 아니라, range타입 2.x에서 리스트였다

3

# function

In [ ]:
# 첫번째 이유)
# function이라는 것이 왜 필요했을까?

x = 10 # 이 코드가 반복되니 이 코드의 이름을 hello라고 하고, 이 코드 자리에 hello를 놓자!
y = 20
print(x + y)

a = 10

x = 10
y = 20
print(x + y)

b = 20

x = 10
y = 20
print(x + y)

a + b

x = 10
y = 20
print(x + y)

a - b

x = 10
y = 20
print(x + y)

In [ ]:
# 두번째 이유)

수만줄의 코드도 아래와같이 함수로 쌓여 있으면 '구조물파악' 하기 쉽다

In [ ]:
# 세번째 이유)
# 알지 않아도 되는 코드를 들여다보지 않을수 있다.
# 추상화
# 코드를 사용한다고해서 세부적인것을 알아볼필요가 없다
# 파이썬의 추상화란
# 복잡한 내부 구현을 숨기고,
#필요한 기능만 외부에 노출시켜 코드를 더 이해하기 쉽고
#사용하기 편리하게 만드는 개념입니다.

In [ ]:
def hello():
    x = 10
    y = 20
    return x + y

In [ ]:
# 파라미터와 아규먼트

def xysum(x, y): # 함수를 정의하는 부분
    return x + y

xysum(10, 20) # 함수를 호출하는 부분

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실행할 때)

def xysum(x, y): # 함수를 정의하는 부분
    return x + y # return-> 호출한 곳에 그대로 주입

xysum(10, 20) # 함수를 호출하는 부분

In [ ]:
def xysum(x, y):
    return x + y
 resuli = xysum(10, 20) + xysum

In [ ]:
None
print(None)

None

In [ ]:
def a(x, y):
    z = x + y
    return None
print(a(10, 20))

None

In [ ]:
print(print(print('hello')))

hello
None
None

In [ ]:
# 파라미터가 있는 함수 <- 아규먼트
def hello(a):
    return a

# 파라미터가 없는 함수
def hello():
    return 'hello world'

In [ ]:
# 리턴값이 있는 함수 <- 파라미터
def add(a, b):
    return a + b

# 리턴값이 없는 함수 << none이 들어감
def add(a, b):
    print(a + b)

In [ ]:
# 문제1: 주식 그래프를 그리려고 한다.
# 주식 그래프는 2x + 15와 같은 형식으로 그려지고 x는 10이라고 주어졌을 때, y값이 얼마인지 구하는 함수를 만드세요.

def solution(x):
    y = 2 * x + 15
    return y
print(solution(10))

35

In [ ]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.

def solution(a, b):
    return [x + y for x, y in zip(a, b)]

print(solution([10, 20, 30], [1, 2, 3]))

[11, 22, 33]

In [ ]:
# 풀이
def solution(a, b):
    result = []
    for i, _ in enumerate(a):
        result.append(a[i] + b[i])
    return result

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 풀이
def solution(a, b):
    for i, v in enumerate(a):
        a[i] = v + b[i]
    return a

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 문제2: [10, 20, 30] + [1, 2, 3]이라고 했을 때 이 두 행렬을 요소별로 더하는 함수를 만드세요.
# 좀 더 우아한 풀이

def solution(a, b):
    return list(map(sum, (zip([10, 20, 30], [1, 2, 3]))))

solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 문제3: 행렬(리스트의 리스트)의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요.
# 예: [1, 2, 3, 4] * 2 = [2, 4, 6, 8]

def solution(matrix, multiplier):
    pass

solution([1, 2, 3, 4], 2

In [ ]:
# 풀이
def solution(matrix, multiplier):
    result = []
    for i in matrix:
        result.append(i * multiplier)
    return result

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 풀이
def solution(matrix, multiplier):
    return [i * multiplier for i in matrix]

solution([1, 2, 3, 4], 2)

[2, 4, 6, 8]

In [ ]:
# 풀이
s = []
for i in range(1, 10, 2):
    s.append(i)
s

[1, 3, 5, 7, 9]

In [ ]:
# 풀이
 [i for i in range(1, 10, 2)]

[1, 3, 5, 7, 9]

In [ ]:
# 안좋은 코드 (가독성이 안좋음)
# 아래와 같은 코드는 가독성이 떨어지기 때문에 좋은 코드라고 보기 어렵습니다.
# 파이썬에서는 읽기 좋은 코드에 가치를 높게 평가합니다!
[f'{i} X {j} = {i * j}' for i in range(2, 10) for j in range(1, 10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [ ]:
# 문제 4
# 프로그래머스(카카오 코딩 테스트 보는 공간)에 문제 하나 풀어보자
# https://school.programmers.co.kr/learn/courses/30/lessons/181928
def solution(num_list):
    짝수 = ''
    홀수 = ''
    for i in num_list:
        if i % 2 == 0:
            짝수 += str(i)
        else:
            홀수 += str(i)
    answer = int(짝수) + int(홀수)
    return answer
solution([3, 4, 5, 2, 1])

393

In [ ]:
# 파라미터에 기본값이 정해져 있는 경우!

def add(x = 10, y = 20):
    return x + y

add()

30

In [ ]:
# 지역변수 전역변수

x = 10

def hello():
    print(x)

hello()

10

In [ ]:
# 지역변수_ 전역변수
x = 10
def hello():

hello()

IndentationError: expected an indented block after function definition on line 3 (<ipython-input-70-1e071335629b>, line 5)

In [ ]:
# 지역변수 전역변수
x = 10

def hello():
    x += 1 # 밖에 있는 변수를 수정할 수는 없습니다.

hello()

In [ ]:
x = 10 # 전역변수 x 10

def hello():
    x = 100 # 지역변수 * 100
hello()

In [ ]:
# 아주 짧은 코드에서는 맞는 얘기지만
# 실무에서는 깨끗한코드, 구조화 되어있는 코드, 견고한 코드가 필요하다

x = 10
x  += 10

print(x)

20

In [ ]:
# 대부분 아래 코드는 안좋은 사례

x = 10
def hello():
    #global(x)  << 쓰지말아라
    x += 100
hello()
print(x)

In [ ]:
locals()
globals()

In [ ]:
def add(a, b):
    z = a + b
    print(locals()) # < 메모리 효율최적화할때 사용

In [ ]:
## sorted <제일중요함

s = [10, 20, 5, 4, 3, 8, 19, 3, 2]
sorted(s) # 오름차순
sorted s. reverse=True # 내림차순

# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # 3
    [1, 1, 2, '김철수', 92, 88, 75],          # 3
    [1, 2, 7, '이', 87, 91, 82],              # 1
    [1, 2, 3, '박민수', 65, 72, 84],          # 3
    [1, 1, 8, '정수진', 91, 85, 93],          # 3
    [1, 3, 1, '강', 76, 79, 88],              # 1
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # 7
    [1, 3, 6, '장현우', 82, 67, 71],          # 3
    [1, 1, 10, '조', 95, 89, 97],             # 1
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # 6
]

# 문제 2 이름의 글자수 대로 정렬해주세요.
def f(x):
    return len(x[3])

def f(x):
    return sum(x[4:])

sorted(data, key=f, reverse=True)
sorted(data, key=f)

SyntaxError: invalid syntax (<ipython-input-4-24d4c1e1d18b>, line 5)

In [ ]:
def user_f(aaa, bbb=100):
    return aaa + bbb

user_f(1000)

1100

In [ ]:
# 문제 3 국어 점수와 수학 점수가 가장 점수차가 큰 순서대로 정렬해주세요.
# 학년, 반, 번, 이름, 국어, 영어, 수학
data = [
    [1, 1, 5, '홍길동', 78, 54, 39],          # ?
    [1, 1, 2, '김철수', 92, 88, 75],          # ?
    [1, 2, 7, '이', 87, 91, 82],              # ?
    [1, 2, 3, '박민수', 65, 72, 84],          # ?
    [1, 1, 8, '정수진', 91, 85, 93],          # ?
    [1, 3, 1, '강', 76, 79, 88],              # ?
    [1, 2, 4, '윤서연미래별하', 89, 94, 90],  # ?
    [1, 3, 6, '장현우', 82, 67, 71],          # ?
    [1, 1, 10, '조', 95, 89, 97],             # ?
    [1, 3, 9, '최준호빛나라', 73, 80, 76]     # ?
]

# 문제 3 국어 점수와 수학 점수가 가장 점수차가 큰 순서대로 정렬해주세요.
def f(x):
    return abs(x[4] - x[6])

sorted(data, key=f, reverse=True)

[[1, 1, 5, '홍길동', 78, 54, 39],
 [1, 2, 3, '박민수', 65, 72, 84],
 [1, 1, 2, '김철수', 92, 88, 75],
 [1, 3, 1, '강', 76, 79, 88],
 [1, 3, 6, '장현우', 82, 67, 71],
 [1, 2, 7, '이', 87, 91, 82],
 [1, 3, 9, '최준호빛나라', 73, 80, 76],
 [1, 1, 8, '정수진', 91, 85, 93],
 [1, 1, 10, '조', 95, 89, 97],
 [1, 2, 4, '윤서연미래별하', 89, 94, 90]]

In [ ]:
# 1차원의 점들이 주어졌을 때,
# 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오.
# (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

# 예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

# 이렇게 풀지 마세요. 파이써닉하지 않습니다.
s = [1, 3, 4, 8, 13, 17, 20]

for i in range(len(s)):
    pass

In [ ]:
data = [
    [1, 3],
    [3, 4],
    [4, 8],
    [8, 13],
    [13, 17],
    [17, 20],
]

def f(x):
    return x[1] - x[0]

sorted(data, key=f)

[[3, 4], [1, 3], [17, 20], [4, 8], [13, 17], [8, 13]]

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20]

def f(x):
    return x[1] - x[0]

sorted(zip(s, s[1:]), key=f)

In [ ]:
# sorted 에서 자주 나오는 유형 2번째!
# 정렬 기준이 나에게 없는경우?

In [ ]:
# 특정 형태의 함수가 들어가야 하나요? 아닙니다.
# 일반 def 되는 함수 또는 lambda 함수 모두 함수의 형태면 가능합니다!
# 이 함수의 return 되는 값에 따라 정렬을 해줍니다.

In [ ]:
# sorted에서 자주 나오는 유형2번째!
# 정렬 기준이 나에게 없는경우!?

data1 = [
    'Moby Dick',              # 1851
    'To Kill a Mockingbird',  # 1960
    '1984'                    # 1949
    ]
data2 = {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}

def f(x):
    return data2[x]

sorted(data1, key=f)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# 우편번호 정렬
# 우편번호 오름차순 순서대로 주소를 정렬하는 코드
data = [
    ['A동',
     'B동',
     'C동'],
    {'A동': 63007, 'B동': 63010, 'C동': 63002}
]

data1 = data[0]
data2 = data[1]

def f(x):
    return data2[x]

sorted(data1, key=f)

['C동', 'A동', 'B동']

In [ ]:
result = 0
for i in range(1, 11):
    if i % 2 == 0:
        result += i

result

30

In [ ]:
def f(x):
    return x % 2 == 0

list(filter(f, range(1, 11)))

[2, 4, 6, 8, 10]

In [ ]:
def f(x):
    return x % 2 == 0

sum(filter(f, range(1, 11)))

30

In [ ]:
list(reversed([10, 20, 30]))
list(range(10))

# 메모리 속도를 위해 사용

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
result = 0
for i in range(1, 11):
    if i % 2 == 0:
        result += i

result

30

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

def f(x):
    return x[4] >= 30
for i in filter(f, data):
    print(i)

['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280]
['제주항공', '7C101', '15F', '박지민', 35, 15, 720]
['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900]
['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760]
['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320]
['대한항공', 'KE123', '7F', '송', 33, 21, 6780]
['제주항공', '7C505', '17B', '황수진', 40, 14, 940]

In [ ]:
# list 변환하는 것은 하나씩 순회를 돌며 메모리에 적제하기 떄문에 아래와 같은 경우.
# map (함수, itrable)
def f(x):
    return x ** 2

list(map(f, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# filter와 동일한 함수를 썼을 경우
def f(x):
    return x[4] >= 30

list(map(f, data)) # [True, False, True, True, False, True, True, True, False, True]

[True, False, True, True, False, True, True, True, False, True]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 새로운 리스트를 만들 값을 return 해줬을 때
def f(x):
    return x[4]

list(map(f, data)) # [42, 29, 35, 51, 24, 38, 47, 33, 26, 40]

[42, 29, 35, 51, 24, 38, 47, 33, 26, 40]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 새로운 리스트를 만들 값을 return 해줬을 때
def f(x):
    return 1

list(map(f, data)) # [1, 1, 1, 1, ...]

In [ ]:
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 문제: 편명과 이름으로 된 새로운 리스트를 만들어주세요.
# [['KE607', '김민준'] ...] 이런식으로 나와야 합니다.
def f(x):
    return [x[1], x[3]]

list(map(f, data)) # [['KE607', '김민준'], ... ]

[['KE607', '김민준'],
 ['OZ721', '이'],
 ['7C101', '박지민'],
 ['LJ211', '최서우미래한별'],
 ['BX213', '정'],
 ['TW305', '강민석'],
 ['RS808', '윤지현'],
 ['KE123', '송'],
 ['OZ562', '장하은별님달빛'],
 ['7C505', '황수진']]

In [ ]:
# map은 어떤 데이터를 '추출' 할 때 많이 사용한다.
# pront-end는 입사문제로  map을 자주 출제 한다

In [ ]:
# 30살 이상인 사람들의 나이 합을 구해주세요
# 30살 이상인 사람들 filter 해서 나이를 더한 다음 필터링한 사람들의 len 만큼 나눠주면 되겠다

# 방법 1: 나이만 map 해서 뽑고 filter로 30살 이상인 사람 추출 해서 sum.len
# 방법 2. filter 로 30살 이상인 사람 추출한 다음 map으로 나이만 뽑고 sum/len
# 방법1
# 일부러 f, ff 이런식으로 함수명을 작성하고 있는데
# 실무에서는 실제 기능에 맞춰 함수명을 작성합니다.
# 함수명을 작성하는 것부터가 큰 스트레스입니다.
# ChatGPT로 많이 하기 때문에 요즘에는 스트레스까진 아닙니다.
# def f(x):
#     return x[4]

# def ff(x):
#     return x >= 30

# sum(filter(ff, map(f, data)))

# 방법2
def f(x):
    return x[4] >= 30

def ff(x):
    return x[4]

sum(map(ff, filter(f, data)))

286

In [ ]:
# 문제 1: 짐무게가 20kg 이상인 승객들의 마일리지 평균을 구해주세요!
# 문제 2: 아시아나 항공을 이용하는 40세 미만 승객들의 이름 길이 합을 구해주세요!
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]
# 문제 1: 짐무게가 20kg 이상인 승객들의 마일리지 평균을 구해주세요!
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 방법1
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1]

filtering_data = list(map(ff, filter(f, data))) # list 변환했어? 메모리 효율이 안좋은데...
sum(filtering_data) / len(filtering_data) # sum을 했어? 한 번 더 순회를 돌아야 하네...

# 방법2
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1]

count = 0
sum_result = 0
for i in map(ff, filter(f, data)): # 2번 순회를 돌아야 하는 것을 1번만 순회돈 것입니다.
    count += 1
    sum_result += i

sum_result / count

5930.0

In [ ]:
# 문제 1: 짐무게가 20kg 이상인 승객들의 마일리지 평균을 구해주세요!
# 항공사, 편명, 좌석번호, 이름, 나이, 짐무게(kg), 마일리지
data = [
    ['대한항공', 'KE607', '12A', '김민준', 42, 23, 5280],
    ['아시아나', 'OZ721', '8C', '이', 29, 18, 3450],
    ['제주항공', '7C101', '15F', '박지민', 35, 15, 720],
    ['진에어', 'LJ211', '4D', '최서우미래한별', 51, 27, 8900],
    ['에어부산', 'BX213', '21B', '정', 24, 12, 1250],
    ['티웨이', 'TW305', '19E', '강민석', 38, 20, 2760],
    ['에어서울', 'RS808', '3C', '윤지현', 47, 16, 4320],
    ['대한항공', 'KE123', '7F', '송', 33, 21, 6780],
    ['아시아나', 'OZ562', '11D', '장하은별님달빛', 26, 19, 1890],
    ['제주항공', '7C505', '17B', '황수진', 40, 14, 940]
]

# 방법1
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1] # [-1]마지막 마일리지만 출력

filtering_data = list(map(ff, filter(f, data))) # list 변환했어? 메모리 효율이 안좋은데...
sum(filtering_data) / len(filtering_data) # sum을 했어? 한 번 더 순회를 돌아야 하네...
 # 효율적으로 좋지않은 코드

# 방법2
def f(x):
    return x[-2] >= 20

def ff(x):
    return x[-1]

count = 0
sum_result = 0
for i in map(ff, filter(f, data)): # 2번 순회를 돌아야 하는 것을 1번만 순회돈 것입니다.
    count += 1
    sum_result += i

sum_result / count

# 문제 2: 아시아나 항공을 이용하는 40세 미만 승객들의 이름 길이 합을 구해주세요!
def f(x):
    return x[0] == '아시아나' and x[4] < 40

def ff(x):
    return x[3]

len(''.join(map(ff, filter(f, data))))

8

In [ ]:
a = [10, 20, 30]
b = (100, 200)
c = 'hello world'

list(zip(a, b, c))

# zip 은 묶어주는것, 한번밖에 순회를 돌 수 없다(★)
# 해당 변수에서 다시 순화를 돌 수 있도록 초기화를 해줘야 하는데
# 초기화를 해주지 않는 함수이다

[(10, 100, 'h'), (20, 200, 'e')]

In [ ]:
iter
next

s = 'hello'
ss = iter(s)
next(ss)

'h'

In [ ]:
# for문을 실핼시켜서 iter을 무조건 실행시킨다

In [ ]:
iter
next

for i in range(10):
    print(i)

s = 'hello'
ss = iter(s) # 나는 이제 값을 순차적으로 꺼낼테니까 꺼낼 준비를 해줘!
next(ss) # 다음 값을 꺼내줘!

In [ ]:
# 절대 실행하지 마세요!!
# 브라우저가 멈춥니다!
# 언제 for를 사용하고 언제 while을 사용하나요?
# for는 객체를 순회할 때
# while 정해진 수만큼 순회를 하거나, 문한 반복을 할 때

# result = [1, 2, 3]

# for i in result:
#     print(i)
#     result.append(i + 1)

# 반복문 (while)

In [ ]:
# 언제 for를 사용하고 언제 while를 사용하는가?
# for는 객체를 순회할 떄
# while 정해진 수만큼 순회를 하거나 무한 반복할때

# result = [1, 2, 3]

# for i in result:
# print(i)
# result.append(i + 1)

## 절대 실행하지 말것!!!!
# 브라우저가 멈춤!!

In [ ]:
x = 0

while x < 10:
    print(x)
    x += 1 # 종료할 수 있는 연산

In [ ]:
# 좋지 않은 코드
x = 0
result = 0

while x < 11:
    if x % 2 == 0:
        result += x
    x += 1 # 종료할 수 있는 연산

result

In [ ]:
# 위의 코드보다 좋은 코드
x = 0
result = 0

while x < 11:
    result += x
    x += 2 # 종료할 수 있는 연산

result

In [ ]:
# 주의해야 할 점1
i = 2
j = 1

while i < 10:
    while j < 10:
        print(i, j, i*j)
        j += 1
    i += 1

In [ ]:
# 주의해야 할 점2
i = 2
j = 1

while i < 10:
    while j < 10:
        print(i, j, i*j)
        j += 1
    i += 1
    j = 1

In [ ]:
day = '토'

match day:
    case "월" | "화" | "수" | "목" | "금":
        print("평일")
    case "토" | "일":
        print("주말")
    case _:
        print("올바른 요일을 입력하세요")

주말

In [ ]:
# 이전에는 어떻게 사용했는가?(중요함)

day = '토'

match day:
    case "월" | "화" | "수" | "목" | "금":
        print("평일")
    case "토" | "일":
        print("주말")
    case _:
        print("올바른 요일을 입력하세요")

주말

In [ ]:
# 이전에는 어떻게 사용했는가? (★★★★★)

today = '토'

day = {
    '월': '평일',
    '화': '평일',
    '수': '평일',
    '목': '평일',
    '금': '평일',
    '토': '주말',
    '일': '주말',
}

day.get(today, '제대로 입력하세요!')

In [ ]:
https://weniv.github.io/game-with-phaser/

In [ ]:
# 클래스는 설계 도면
# 클래스 내의 변수 - 멤버 또는 애트리뷰트
# 클래스 내의 함수 - 메서드

# 자동차!
# 데이터(멤버, 애트리뷰트) # 클래스 내 변수로 선언됩니다. 이것을 멤버 또는 애트리뷰트라고 합니다.
#   * 클래스로 만들어진 자동차에 수
#   * 최대 속도
#   * 최대 탑승객

# 기능(메서드) # 클래스 내 함수로 선언됩니다. 이것을 메서드라고 합니다.
#   * 출발
#   * 정지

In [ ]:
class Car:
    max_speed = 300
    max_people = 5

    def start():
        pass

    def stop():
        pass

In [ ]:
class Car:
    max_speed = 300
    max_people = 5

    def start(self):
        print('출발!')

    def stop(self):
        print('정지!')

car1 = Car()
car2 = Car()

In [ ]:
# car1은 Car의 인스턴스입니다!
value = 10
# value는 int의 인스턴스입니다!
value = 10.0
# value는 float의 인스턴스입니다!
value = [10, 20, 30]
# value는 list의 인스턴스입니다!
value = (10, 20, 30)
# value는 tuple의 인스턴스입니다!